

<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="100%" fxFlex.md="100%" fxFlex.lg="100%">
      
    <mat-accordion flex>
    
      <mat-expansion-panel style="margin: 20px;" *ngFor="let issue of issues" (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{issue.title}}
          </mat-panel-title>

        </mat-expansion-panel-header>
        <p>{{issue.body}}</p>
        <mat-chip-list>
          <mat-chip ><span matTooltip="Número de issue">{{issue.number}}</span></mat-chip>
          <mat-chip color="primary" selected="true"><span matTooltip="Fecha de creación">{{issue.created_at  | date: 'dd/MM/yyyy'}}</span></mat-chip>
          <mat-chip color="accent" selected="true"><span matTooltip="Fecha de actualización">{{issue.updated_at | date: 'dd/MM/yyyy'}}</span>
           </mat-chip>
        </mat-chip-list>

      </mat-expansion-panel>
    </mat-accordion>
    
    


  </div>
</div>

