<div fxLayout="row" fxLayoutAlign="center" class="card-container">
  <div fxFlex="100%" fxFlex.mat="100%" fxFlex.lg="100%">
      <mat-grid-list [cols]="cols | async" gutterSize="15px" class="grid">
          <mat-grid-tile *ngFor="let repositorie of repositories">
              <img src="{{ repositorie.avatar_url }}" alt="repositorie of the super repositorie {{repositorie.login}}">
              <mat-grid-tile-footer>
                  <h3 mat-line>{{repositorie.name}}</h3>
                  <span mat-line>{{repositorie.full_name}}</span>
                  <button mat-icon-button>
                                        <mat-icon>info</mat-icon>
                                      </button>
              </mat-grid-tile-footer>
          </mat-grid-tile>
      </mat-grid-list>
  </div>
</div>