


<div fxLayout="row" fxLayoutAlign="center" class="card-container">
  <div fxFlex="100%" fxFlex.md="100%" fxFlex.lg="100%">
  <mat-grid-list [cols]="cols | async" gutterSize="15px" class="grid">
      <mat-grid-tile *ngFor="let repositorie of repositories">
          <mat-card >
              <mat-card-header>
                  <mat-card-title>{{ repositorie.name }}</mat-card-title>
                  <mat-card-subtitle>{{ repositorie.description }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    {{ repositorie.language }}
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                  </mat-card-actions>
            </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
</div>
</div>