<section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">
  <mat-toolbar color="primary" class="mat-elevation-z16">

    <button *ngIf="open | async" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>{{title}}</span>

    <span class="fill-remaining-space"></span>

    <button *ngIf="open_profile | async" mat-icon-button [mat-menu-trigger-for]="menuprofile">
      <mat-icon>face</mat-icon>
    </button>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

  </mat-toolbar>

  <section class="progress-bar">
    <mat-progress-bar [color]="'primary'" [mode]="progressBarMode">
    </mat-progress-bar>
  </section>

  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item (click)="signOut()">Salir</button>
    <button mat-menu-item (click)="isDarkTheme=!isDarkTheme">Cambiar Tema</button>
    <button mat-menu-item>Free Hugs!</button>
    <button mat-menu-item>Acerda de</button>
  </mat-menu>

  <mat-menu x-position="before" #menuprofile="matMenu">
    <div fxLayout="row">
      <mat-card id="user">
        <mat-card-title>
          <div fxLayout="row" fxLayoutAlign="center center">
             <div *ngIf="profile;else other_content">
                  <img class="avatar-wrapper" fxLayoutAlign="center center" mat-card-avatar src="{{ profile.avatar_url }}">
                </div>
                <ng-template #other_content>
                  <mat-icon>person</mat-icon>
                </ng-template>
          </div>
        </mat-card-title>
        <mat-card-content>
            <div *ngIf="profile;else other_content2">
                <p>{{ profile.name }}  {{ profile.location}}  {{profile.email}} {{profile.bio}}</p>
              </div>
              <ng-template #other_content2>
                <p>Hola</p>
              </ng-template>
        </mat-card-content>
            <mat-card-actions class="mat-card-actions">
              <mat-icon>train</mat-icon>
            </mat-card-actions>
      </mat-card>

    
    </div>
      <div fxLayout="column">
          <a mat-list-item  [routerLink]="['/home']">
            <mat-icon mat-list-icon>grain</mat-icon>
            <span mat-line>Mis</span>
            <span mat-line class="secondary">Repositorios</span>
          </a>
          <a mat-list-item  [routerLink]="['/following']">
            <mat-icon mat-list-icon>school</mat-icon>
            <span mat-line>Ver</span>
            <span mat-line class="secondary">A quien sigo</span>
          </a>
        </div>
  </mat-menu>

  <mat-sidenav-container fxFlex>

    <mat-sidenav mode="side" [opened]="open | async" #sidenav class="mat-elevation-z6">
      <mat-nav-list>
        <div fxLayout="row">
          <mat-card id="user">
            <mat-card-title>
              <div fxLayout="row" fxLayoutAlign="center center">
                <div *ngIf="profile;else other_content">
                  <img class="avatar-wrapper" fxLayoutAlign="center center" mat-card-avatar src="{{ profile.avatar_url }}">
                </div>
                <ng-template #other_content>
                  <mat-icon>person</mat-icon>
                </ng-template>
              </div>
            </mat-card-title>
            <mat-card-content>
              <div *ngIf="profile;else other_content2">
                <p>{{ profile.name }}  {{ profile.location}}  {{profile.email}} {{profile.bio}}</p>
              </div>
              <ng-template #other_content2>
                <p>Hola</p>
              </ng-template>
            </mat-card-content>
            <mat-card-actions class="mat-card-actions">
              <mat-icon>train</mat-icon>
            </mat-card-actions>
          </mat-card>

        </div>
        <div fxLayout="column">
          <a mat-list-item  [routerLink]="['/home']">
            <mat-icon mat-list-icon>grain</mat-icon>
            <span mat-line>Mis</span>
            <span mat-line class="secondary">Repositorios</span>
          </a>
          <a mat-list-item  [routerLink]="['/following']">
            <mat-icon mat-list-icon>school</mat-icon>
            <span mat-line>Ver</span>
            <span mat-line class="secondary">A quien sigo</span>
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    
    <div class="app-body">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</section>



<!--section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">


        <mat-toolbar color="primary" class="mat-elevation-z16">

                <button *ngIf="open | async" mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                      </button>
                      <span>{{title}}</span>
                      <span class="fill-remaining-space"></span>
                      <button mat-icon-button [mat-menu-trigger-for]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
        </mat-toolbar>
        
        <section class="progress-bar">
          <mat-progress-bar [color]="'primary'" [mode]="progressBarMode">
          </mat-progress-bar>
        </section>
      

        <mat-menu x-position="before" #menu="matMenu">
                <button mat-menu-item>Salir</button>
                <button mat-menu-item >Cambiar Tema</button>
                <button mat-menu-item>Free Hugs!</button>
                <button mat-menu-item>Acerda de</button>
              </mat-menu>

              <mat-sidenav-container fxFlex>

                    <mat-sidenav mode="side" [opened]="open | async" #sidenav class="mat-elevation-z6">

                      <mat-nav-list>
                        <div fxLayout="row">
                            <mat-card id="user">
                                <mat-card-title>
                                  <div fxLayout="row" fxLayoutAlign="center center">
                                      <img class="avatar-wrapper" fxLayoutAlign="center center" mat-card-avatar src="{{ profile.avatar_url }}">
                                  </div>
                                </mat-card-title>
                                <mat-card-content>
                                  <p>{{ profile.name }}  {{ profile.location}}  {{profile.email}} {{profile.bio}}</p>
                                </mat-card-content>
                                <mat-card-actions class="mat-card-actions">
                                  <mat-icon>train</mat-icon>
                                </mat-card-actions>
                              </mat-card>
              
                        </div>
                        <div fxLayout="column">
                          <a mat-list-item  [routerLink]="['/home']">
                            <mat-icon mat-list-icon>grain</mat-icon>
                            <span mat-line>Mis</span>
                            <span mat-line class="secondary">Repositorios</span>
                          </a>
                          <a mat-list-item  [routerLink]="['/following']">
                            <mat-icon mat-list-icon>school</mat-icon>
                            <span mat-line>Ver</span>
                            <span mat-line class="secondary">A quien sigo</span>
                          </a>
                        </div>
                      </mat-nav-list>
                    </mat-sidenav>

                    <div class="app-body">
                            <router-outlet></router-outlet>
                          </div>
             </mat-sidenav-container>
</section-->