<div fxLayout="column" fxFlex>

        <mat-toolbar color="primary" class="mat-elevation-z16">

            Github
        </mat-toolbar>
        <mat-sidenav-container class="example-container" *ngIf="shouldRun">
                <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
                <mat-sidenav-content>Main content</mat-sidenav-content>
              </mat-sidenav-container>
      
      </div>

<!--section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">
        <mat-toolbar color="primary" class="mat-elevation-z16">
            z
        </mat-toolbar>

        <mat-sidenav-container fxFlex>


        </mat-sidenav-container>
</section-->

<!--div>
    <mat-toolbar color="primary">
      <span><mat-icon>mood</mat-icon></span>
  
      <span>Yay, Material in Angular 2!</span>
  
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>
    <mat-menu x-position="before" #menu="matMenu">
      <button mat-menu-item>Option 1</button>
      <button mat-menu-item>Option 2</button>
    </mat-menu>
  
    <mat-card>
      <button mat-button>All</button>
      <button mat-raised-button>Of</button>
      <button mat-raised-button color="primary">The</button>
      <button mat-raised-button color="accent">Buttons</button>
    </mat-card>
  
    <span class="done">
      <button mat-fab>
        <mat-icon>check circle</mat-icon>
      </button>
    </span>
  </div-->