
<div fxLayout="row" fxLayoutAlign="center" class="card-container">
  <div fxFlex="100%" fxFlex.mat="100%" fxFlex.lg="100%">
      <mat-grid-list [cols]="cols | async" gutterSize="15px" class="grid">
          <mat-grid-tile *ngFor="let follow of following">
              <img src="{{ follow.avatar_url }}" alt="follow of the super follow {{ follow.login }}">
              <mat-grid-tile-footer>

                <h3 matLine> {{ follow.login }} </h3>
                <p matLine>
                  <span> {{ follow.html_url  }} </span>
                </p>  
                 <button mat-icon-button>
                        <mat-icon  (click)="onNavigate(follow.html_url)">subdirectory_arrow_right</mat-icon>
                 </button>

              </mat-grid-tile-footer>
          </mat-grid-tile>
      </mat-grid-list>
  </div>
</div>