<section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">
  <div fxLayout="row" fxLayoutAlign="center" class="card-container">
    <div fxFlex="100%" fxFlex.md="100%" fxFlex.lg="100%">
       
      <mat-toolbar color="primary" class="fixed-header">
          <div *ngIf="!myVar">
              <mat-toolbar-row >
                  <span>Buscar</span>
                  <span class="example-spacer"></span>
                  <button mat-raised-button color="primary" class="example-icon" (click)="onSeach()">
                      <mat-icon>search</mat-icon>
                      <span>Buscar</span>
                  </button>
                </mat-toolbar-row>
           </div>

           <div *ngIf="myVar">

              <mat-toolbar-row class="search-bar">
                 
                  <button mat-icon-button >
                      <mat-icon>search</mat-icon>
                  </button>
                  <!--(keyup)="search()"-->
                  <!--(blur)=="search()"-->
                  <mat-input-container style="width: 100%;">  
                    <mat-form-field style="width: 100%;">
                        <input  style="width: 100%;" matInput  [(ngModel)]="username" name="username" (blur)="search()">
                    </mat-form-field>
                  </mat-input-container>
           

    

                  <button mat-icon-button (click)="onCancelSeach()" >
                      <mat-icon>close</mat-icon>
                  </button>
                </mat-toolbar-row>

           </div>
            
          </mat-toolbar>
          

        <!--form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Github Username" [(ngModel)]="username" name="username" (keyup)="search()">    
            </div>    
          </form-->

     
          <mat-card *ngFor="let repo of repositories" flex>
        <mat-card-header>
          <img mat-card-avatar src="{{ repo.owner.avatar_url }}">
          <mat-card-title>{{repo.owner.login}}</mat-card-title>
          <mat-card-subtitle>{{ repo.name }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{repo.description}}
        </mat-card-content>
        <mat-chip-list>
          <mat-chip>One fish</mat-chip>
          <mat-chip color="primary"  selected="true"><span matTooltip="Ver los lenguajes!">Lenguajes</span></mat-chip>
          <mat-chip color="accent"  (click)="onViewDetail(repo.name)" selected="true"><span matTooltip="Ver los issues!"> issues {{ repo.open_issues}}</span>
           </mat-chip>
        </mat-chip-list>
      </mat-card>

    </div>
  </div>
</section>


