<div class="grid-layout">
  <div class="box c1">
    HEADER
  </div>
  <div class="box c2">
    MENU
  </div>
  <div class="box c3">
    CONTENT
  </div>
  <div class="box c4">
    SIDEBAR
  </div>
  <div class="box c5">
    FOOTER
  </div>
   <!--<div class="box c6">
    Box 6
  </div>
  <div class="box c7">
    Box 7
  </div>
  <div class="box c8">
    Box 8
  </div>
  <div class="box c9">
    Box 9
  </div>
  <div class="box c10">
    Box 10
  </div>
  <div class="box c11">
    Box 11
  </div>
  <div class="box c12">
    Box 12
  </div>
  <div class="box c13">
    Box 13
  </div>
  <div class="box c14">
    Box 14
  </div>
  <div class="box c15">
    Box 15
  </div>
  <div class="box c16">
    Box 16
  </div>
  <div class="box c17">
    Box 17
  </div>
  <div class="box c18">
    Box 18
  </div>
  <div class="box c19">
    Box 19
  </div>
  <div class="box c20">
    Box 20
  </div> -->
</div>
